@font-face {
  font-family: 'Montserrat';
  font-weight: 700;
  src: local('../fonts/Montserrat-Bold.woff') format('woff'), url('../fonts/Montserrat-Bold.woff') format('woff');
}
@font-face {
  font-family: 'Montserrat';
  font-weight: 600;
  src: local('../fonts/Montserrat-SemiBold.woff') format('woff'), url('../fonts/Montserrat-SemiBold.woff') format('woff');
}
@font-face {
  font-family: 'Montserrat';
  font-weight: 500;
  src: local('../fonts/Montserrat-Medium.woff') format('woff'), url('../fonts/Montserrat-Medium.woff') format('woff');
}
@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  src: local('../fonts/Montserrat-Regular.woff') format('woff'), url('../fonts/Montserrat-Regular.woff') format('woff');
}
.wrapper {
  width: 100%;
}
.container {
  max-width: 1213px;
  margin: 0 auto;
}
.header_wrapper {
  background-color: #EEDEBF;
  position: fixed;
  z-index: 1000;
}
.navbarPasta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 83px;
}
.navbar-nav {
  align-items: center;
  justify-content: space-between;
}
.pasta__nav {
  width: 100%;
}
.navbar-toggler {
  background-image: url('../img/burgerMenu.png');
  align-self: flex-end;
}
.nav-item {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 16px;
}
.nav-item a {
  color: black;
}
.nav-item a:hover {
  color: grey;
  transition-delay: 300ms;
}
.phoneNumber {
  display: flex;
  flex-direction: column;
}
.number {
  font-weight: bolder;
  font-size: 20px;
}
.numberText {
  text-decoration: dashed underline 1px;
  font-size: 16px;
  align-self: flex-end;
}
/*-----------------------------------------*/
.carousel-indicators li {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  margin: 10px;
}
.carousel-indicators .active {
  background-color: #EEDEBF;
}
/*------------------------*/
.tabs-container {
  max-width: 1000px;
  margin: 50px auto;
  padding: 25px;
}
.tabs {
  display: flex;
}
.tabs li:not(:last-child) {
  margin-right: 7px;
}
.tabs li a {
  display: block;
  position: relative;
  top: 4px;
  padding: 10px 25px;
  border-radius: 2px 2px 0 0;
  background: white;
  opacity: 0.7;
  transition: all 0.1s ease-in-out;
}
.tabs li.active a,
.tabs li a:hover {
  opacity: 1;
  top: 0;
  transition: 300ms;
}
.tabs-content {
  position: relative;
  z-index: 2;
  padding: 25px;
  border-radius: 0 4px 4px 4px;
  background: white;
}
.tabs-panel {
  display: none;
}
.tabs-panel.active {
  display: block;
}
.pastaExplanation {
  display: flex;
  height: 616px;
}
.wrapper__doubleBG {
  height: 616px;
  background: url('../img/noodle.png'), linear-gradient(to right, #66536B 0%, #66536B 40%, white 40%, white 100%);
  background-repeat: no-repeat, no-repeat;
  background-position: center right -190px, left;
}
@media (min-width: 320px) {
  .wrapper__doubleBG {
    height: 920px;
  }
  .pasta__OurTeam {
    height: 1039px;
  }
  .pasta__ourProducts {
    height: 1040px;
  }
  .pasta__AboutUs {
    height: 1030px;
  }
  .pasta__Delivery {
    height: 772px;
  }
  .pasta__DeliveryZone {
    height: 949px;
  }
  .pasta__Questions {
    height: 1327px;
  }
  .flex__Questions {
    height: 647px;
  }
  .footer {
    height: 680px;
  }
}
@media (min-width: 1080px) {
  .wrapper__doubleBG {
    height: 616px;
  }
  .pasta__OurTeam {
    height: 823px;
  }
  .pasta__ourProducts {
    height: 1029px;
  }
  .pasta__AboutUs {
    height: 616px;
  }
  .pasta__Delivery {
    height: 621px;
  }
  .pasta__DeliveryZone {
    height: 540px;
  }
  .pasta__Questions {
    height: 966px;
  }
  .flex__Questions {
    height: 697px;
  }
  .footer {
    height: 269px;
  }
}
.container__imagetext {
  display: flex;
  position: relative;
  align-items: center;
}
.container__text {
  display: flex;
  flex-wrap: wrap;
  width: 39.3%;
  height: 349px;
  align-items: center;
  margin-left: 48%;
}
/*Текст*/
.container__tittle {
  display: flex;
  flex-direction: column;
}
.container__tittle h2 {
  max-width: 286px;
  font-family: 'Montserrat';
  font-size: 36px;
  font-weight: 400;
}
.container__text p {
  font-family: 'Montserrat';
  font-size: 19px;
  font-weight: 400;
  line-height: 168.4%;
}
/*Картика слева*/
.container__image {
  position: absolute;
  top: 62px;
  left: -127px;
}
.row_test {
  align-self: center;
}
/**/
.pasta__OurTeam {
  display: flex;
  height: 823px;
  background-color: #EEDEBF;
}
.container__pasta__OurTeam {
  display: flex;
  flex-direction: column;
}
.ourTeamTittle {
  display: flex;
  margin-top: 170px;
  margin-bottom: 70px;
  justify-content: center;
}
.team__select {
  display: flex;
  height: 398px;
  justify-content: space-between;
}
.team__profiles {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.team__profile {
  border-radius: 55px;
  border: 4px solid #EEDEBF;
}
.team__profile:hover {
  border: 4px solid goldenrod;
  transition: 300ms;
}
.team__profile:active {
  border: 4px solid goldenrod;
}
.team__card {
  display: flex;
  align-items: flex-end;
  width: 81.8%;
}
.team__description {
  padding-left: 30px;
  height: 322px;
  width: 55.3%;
}
.team__descriptionTittle h2:first-child {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 22px;
  line-height: 100%;
}
.team__descriptionTittle h2:nth-child(2) {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
}
.team__descriptionGeneral p {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 16px;
  line-height: 168.4%;
}
.Team__Switch {
  margin-top: 60px;
}
/**/
.pasta__Examples {
  height: auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.pasta__exampleCards {
  display: flex;
}
.pasta__exampleCard {
  width: 34%;
  height: auto;
  transition: 0.5s all ease-in-out;
}
/**/
.pasta__ourProducts {
  background: #FBF8F8;
  height: 1029px;
  display: flex;
  align-items: center;
}
.zoom:hover {
  transform: scale(1.03);
}
.pasta_ourProductsSelector {
  height: 729px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}
.pasta_ourProductsSelector .products__tittle {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 36px;
  line-height: 168.4%;
}
.ourProductSelector__Sections {
  display: flex;
  justify-content: space-between;
}
.ourProductSelector__Sections a {
  color: #AD8442;
  margin-top: 10px;
}
.ourProductsSelector__Button {
  width: 196px;
  height: 44px;
  border: 1px solid #606060;
  box-sizing: border-box;
  border-radius: 22px;
}
.ourProductsSelector__Button :hover {
  background-color: blueviolet;
}
.ourProductsSelector__Filter {
  height: 27px;
  background: transparent;
  color: black;
  border: none;
  border-width: 0;
  border-style: none;
  outline: none;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 16px;
  line-height: 168.4%;
}
.ourProductsSelector__Filters .nav-item {
  margin-right: 46px;
}
.ourProductsSelector__Cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow-x: scroll;
}
.card {
  width: 23.5%;
}
.card-body {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
}
.card-title {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 16px;
  line-height: 168.4%;
}
.card-text {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 14px;
  line-height: 168.4%;
}
.card-price {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 18px;
  line-height: 168.4%;
}
.card-links {
  display: flex;
  align-items: center;
}
.card-links button {
  height: 46px;
  width: 107px;
  color: white;
  background: #D38B13;
  border: 1px solid #f0a82d;
}
.card-links a {
  margin-left: 25px;
  color: black;
}
/**/
.pasta__AboutUs {
  height: 616px;
  background: #ffffff;
  background: linear-gradient(90deg, #FBF8F8 40.92%, rgba(254, 254, 254, 0.93) 48.78%, rgba(254, 254, 254, 0.84) 55.54%, rgba(251, 248, 248, 0) 69.05%), url('../img/bgONas.png');
  background-position: right;
  background-repeat: no-repeat;
  display: flex;
}
.flex__textBlock {
  display: flex;
  align-items: center;
}
.container__AboutUsBox {
  height: 381px;
  width: 43.5%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.container__AboutUsBox a {
  color: #AD8442;
}
.container__AboutUsBox :first-child {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 36px;
  line-height: 168.4%;
}
.container__AboutUsBox :nth-child(2) {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 16px;
  line-height: 168.4%;
}
.container__AboutUsBox :nth-child(3) {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 16px;
  line-height: 168.4%;
}
/**/
.pasta__Delivery {
  height: 621px;
  background-color: #EEDEBF;
  background-image: url('../img/zoneBGblock.png'), url('../img/zoneMacarons.png');
  background-repeat: no-repeat;
  background-position: left top,top right;
  display: flex;
}
.container__deliveryText {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: flex-start;
}
.pasta__Delivery ul.a {
  list-style-type: none;
  padding-left: 0;
}
.a li {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 16px;
  border-bottom: 1px solid #EBC79E;
  padding-bottom: 25px;
  padding-top: 25px;
}
.a li:nth-child(3) {
  border: none;
}
/**/
.pasta__DeliveryZone {
  height: 540px;
  background-image: url('../img/zoneMap.png');
  background-repeat: no-repeat;
}
.container__blockzoneDelivery {
  background: white;
  width: 34.7%;
  height: 540px;
  align-items: center;
  display: flex;
}
.container__zoneDelivery {
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 80%;
  height: 365px;
}
.container__zoneDelivery p:first-child {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 29px;
  line-height: 168.4%;
}
.container__zoneDelivery :nth-child(2) {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 16px;
  line-height: 168.4%;
}
.container__zoneDelivery :nth-child(3) {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 16px;
  line-height: 168.4%;
}
.block__adresses {
  list-style: none;
  /*padding-left: 15px;*/
}
.block__adresses li:before {
  content: ">";
  top: 0;
  font-weight: bold;
  position: absolute;
  left: -30px;
}
.block__adresses li {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 16px;
  line-height: 168.4%;
  position: relative;
}
/**/
.flex__Questions {
  display: flex;
  height: 697px;
  align-items: center;
}
.pasta__Questions {
  height: 966px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(89.57deg, rgba(0, 0, 0, 0.72) 2.28%, rgba(0, 0, 0, 0) 76.28%), linear-gradient(89.84deg, #2D3134 53.99%, rgba(38, 43, 47, 0.58) 84.44%), url('../img/questionsBG.png');
  background-repeat: no-repeat;
  background-position: right;
}
.container__contactUs {
  width: 40.5%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.container__contactUs p:first-child {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 36px;
  line-height: 121.9%;
  text-transform: uppercase;
}
.container__contactUs p:nth-child(2) {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 18px;
  line-height: 155.4%;
}
input::placeholder {
  color: #dbdbdb;
}
.form-control {
  background-color: transparent;
  outline: 0;
  border: none;
  border-radius: 0;
  border-bottom: 2px solid white;
  color: white;
}
.form-control::placeholder {
  color: white;
}
.form-control:focus {
  background-color: transparent;
  color: white;
  box-shadow: none;
}
.floating-label-group {
  position: relative;
  margin-top: 15px;
  margin-bottom: 25px;
  width: 60%;
}
.floating-label-group .floating-label {
  font-size: 13px;
  color: transparent;
  position: absolute;
  pointer-events: none;
  top: 9px;
  left: 12px;
  transition: ease-in 120ms;
}
.floating-label-group input:focus ~ .floating-label,
.floating-label-group input:not(:focus):valid ~ .floating-label {
  top: -15px;
  bottom: 0px;
  left: 0px;
  font-size: 12px;
  opacity: 1;
  color: white;
}
.floating-label-group :focus::placeholder {
  color: transparent;
}
.contactUs__button {
  height: 46px;
  width: 136px;
  background-color: #D38B13;
  border: none;
  color: white;
}
/**/
.footer {
  height: 269px;
  background: rgba(33, 33, 33, 0.47);
  backdrop-filter: blur(5px);
}
.footer__fill {
  color: white;
  display: flex;
  height: 269px;
  flex-direction: column;
  justify-content: space-around;
}
.navigation {
  display: flex;
  justify-content: space-between;
}
.navigation__LogoImage {
  height: 45px;
}
.navigation__Navbar {
  height: 45px;
  width: 60%;
}
.navbar-navNavigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.navbar-navNavigation li {
  list-style-type: none;
}
.navbar-navNavigation .nav-link {
  color: white;
}
/**/
.various {
  display: flex;
  justify-content: space-between;
}
.various__SearchBar {
  width: 50%;
  height: 45px;
  display: flex;
  justify-content: space-between;
}
.footer_search {
  width: 70%;
}
.various__SearchBarIcons {
  width: 20%;
  height: 45px;
  background-color: transparent;
  padding-top: 10px;
}
.various__Phone {
  width: 31%;
  height: 45px;
  display: flex;
  justify-content: space-between;
}
.various__PhoneNumber {
  width: 43%;
  height: 45px;
  background-color: transparent;
  padding-top: 10px;
}
.various__PhoneNumber a {
  color: white;
}
.various__Phonebutton {
  width: 47%;
  height: 45px;
}
.various__PhonebuttonButton {
  height: 45px;
  width: 100%;
  background-color: white;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
}
.copyright {
  border-top: 1px solid black;
  width: 100%;
  height: 55px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
